header {
    text-align: center;
    background-color: #016241;
    color: whitesmoke;
    width: 70%;
    margin-left: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    padding-top: 1px;
    padding-bottom: 20px;
}

section,
article {
    display: flex;
    text-align: center;
    background-color: #D40032;
    color: whitesmoke;
    width: 70%;
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
}
footer {
    border-top: solid;
    width: 70%;
    margin-left: 140px;
}

body {
    padding-left: 10%;
}

.img2 {
    width: 48%;
}

.logo {
    height: 62px;
    margin-bottom: -27px;
}

.p1 {
    border-radius: 30px;
    border: solid white 2px;
    background-color: crimson;
    font-weight: 700;
    height: 35px;
    font-size: 15px;
    margin-bottom: 22px;
    color: white;
}

.p1:hover {
    border-radius: 30px;
    border: solid white 2px;
    background-color: white;
    color: crimson;
    font-weight: 700;
    height: 35px;
    font-size: 15px;
    margin-bottom: 22px;
}

button {
    border-radius: 30px;
    border: solid black 2px;
    background-color: white;
    font-weight: 700;
    height: 35px;
    font-size: 15px;
    margin-bottom: 22px;
}

.uno {
    text-decoration: none;
    color: black;
}

.dos {
    text-decoration: none;
    color: black;
}

.tres {
    text-decoration: none;
    color: black;
}

.navega {
    margin-left: 140px;
    text-align: left;
}

.login {
    text-align: right;
    margin-top: 13px;
    margin-left: 730px;
}

.but1:hover {
    border-radius: 30px;
    border: solid whitesmoke 2px;
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    height: 35px;
    font-size: 15px;
    margin-bottom: 22px;
}

.letras {
    width: 50%;
}

.arriva {
    display: flex;
}